body{
    background-color: aqua;
}

h1{
    color: blueviolet;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img#Nameless_King{
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

img#Nameless_King + p{
    text-align: center;
    font-style: italic;
    font-size: large;
}